<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Twichle</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="language/none" Match="NavLinkMatch.All" onclick="toggleLanguages()">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Language Mode
            </NavLink>
            <ul class="language-list">
                @foreach (var language in _languages)
                {
                <li><a style="color: wheat; text-decoration: none" href="language/@language">@language</a></li>
                }
            </ul>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Live">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Live Mode
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Main Mode
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Picture">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Picture Mode
            </NavLink>
        </div>
    </nav>
</div>

@code {
    
    private readonly string[] _languages = [
        "English",
        "Spanish",
        "Russian",
        "French",
        "Portuguese",
        "German",
    ];
}