<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Twle.styles.css" />
    <link rel="stylesheet" href="css/Components/table.css"/>
    <link rel="stylesheet" href="css/components/inputBar.css">
    <link rel="stylesheet" href="css/general.css">
    <HeadOutlet />
</head>

<body style="background: radial-gradient(circle, #0c63e4 0%, #800080 100%)">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/table.js"></script>
    <script src="_content/BlazorAnimate/blazorAnimateInterop.js"></script>
</body>

</html> 
