@if (!_timerReached)
{
    <p>Come back the next day or try a different mode</p>
    <p>Time remaining until the next game: @_timeLeft?.ToString("hh\\:mm\\:ss\\.f")</p>
}
else
{
    <p>Czas minął!</p>
}

@code {
    private Timer _timer = new Timer(100);
    private DateTime? _endTime;
    private TimeSpan? _timeLeft;
    private bool _timerReached = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DateTime now = DateTime.Now;
        _endTime = new DateTime(now.Year, now.Month, now.Day, 23, 59, 59);
        _timeLeft = _endTime - now;

        _timer.Elapsed += TimerElapsed;
        _timer.Start();
    }

    private void TimerElapsed(object? sender, ElapsedEventArgs e)
    {
        DateTime now = DateTime.Now;
        _timeLeft = _endTime - now;

        if (_endTime.HasValue)
        {
            _timeLeft = _endTime.Value - now;

            if (now >= _endTime.Value)
            {
                _timerReached = true;
                _timer.Stop();
            }
        }

        InvokeAsync(StateHasChanged);
    }
}
